@import '../lib/function';
.alpha{
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(0,0,0,.5);
	z-index: 9998;
}
.side-slide{
	bottom: 0;
	position: fixed;
	z-index: 9999;
	left: 0;
	right: 0;
	background-color: #fff;
	padding: cvt(36px);
	border-top: cvt(14px) solid rgba(0,0,0,.3);
	background-clip: padding-box;
    backface-visibility: hidden;
}
// slide
.side-slide-enter{
	animation: slide-up .3s;
}
.side-slide-leave{
	animation: slide-down .3s;
}
@keyframes slide-up{
	0%{
		transform: translate3d(0,100%,0);
	}
	100%{
		transform: translate3d(0,-1px,0);
		// transform: translateZ(0);
	}
}
@keyframes slide-down{
	0%{
		transform: translate3d(0,-1px,0);
	}
	100%{
		transform: translate3d(0,100%,0);
	}
}
// fade
.fade-transition{
	transition: all .5s ease;
}
.fade-enter,.fade-leave{
	opacity: 0;
}


/**
 * bounce in
 */
.bounce1-enter{
	animation: bounce-in-up .6s  cubic-bezier(0.38, 0.14, 0, 0.97);
}
.bounce1-leave{
	animation: bounce-in-down .6s  cubic-bezier(0.38, 0.14, 0, 0.97);
}
.bounce2-enter{
	animation: bounce-in-up .7s  cubic-bezier(0.38, 0.14, 0, 0.97);
}
.bounce2-leave{
	animation: bounce-in-down .7s  cubic-bezier(0.38, 0.14, 0, 0.97);
}
.bounce3-enter{
	animation: bounce-in-up .8s  cubic-bezier(0.38, 0.14, 0, 0.97);
}
.bounce3-leave{
	animation: bounce-in-down .8s  cubic-bezier(0.38, 0.14, 0, 0.97);
}
@keyframes bounce-in-up{
	from{
		opacity: 0;
		transform: translate3d(0, 500px,0);
	}
	70%{
		transform: translate3d(0,-10px,0);
	}
	to{
		transform: translate3d(0,0,0);
	}
}
@keyframes bounce-in-down{
	from{
		opacity: 1;
		transform: translate3d(0,0,0);
	}
	30%{
		transform: translate3d(0,-10px,0);
	}
	to{
		transform: translate3d(0,500px,0);
	}
}

@keyframes spin{
    100%{
        transform: rotate(360deg);
    }
}

.zoom-in-enter{
	animation: zoom-in .3s ease;
}
@keyframes zoom-in{
	from{
		transform: scale(0);
	}
	80%{
		transform: scale(1.2);
	}
	to{
		transform: scale(1);
	}
}
