@import 'lib/variable';
@import 'lib/function';
@import 'base/reset';
@import 'base/iconfont';
@import 'components/loader';

html,body{
	-moz-user-select: none;
	-khtml-user-select: none;
	user-select: none;
	font-size: $baseFontSize;
	backface-visibility: hidden;
}

.unscrollable{
	overflow: hidden;
	height: 100%;
	body{
		overflow: hidden;
		height: 100%;
	}
}

@each $value in $screenWidthList{
	@media only screen and (min-width: $value){
		html{
			font-size: ($value/$baseScreenWidth)*$baseFontSize;
		}
	}
}
*{
	-webkit-user-select: none;
}
body{
	font-size: cvt(36px);
	color: #333;
	font-family: "Helvetica Neue", "PingFang SC", sans-serif;
	background-color: #f5f6f8;
}
a{
	text-decoration: none;
	&:link,&:visited,&:hover{
		color: #333;
	}
}
del{
	color: #999;
}
img{
	vertical-align: middle;
}
button{
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	padding: 0;
	margin: 0;
	background-color: #fff;
	border: none;
	outline: none;
}
.container{
	max-width: 640px;
}
.clearfix{
	&:after{
		content: " ";
		display: block;
		clear: both;
		font-size: 0;
		visibility: hidden;
	}
}
.image{
	align-items: center;
	justify-content: center;
	img{
		max-width: 100%;
		max-height: 100%;
	}
}
// button
.btn{
	display: inline-block;
	box-sizing: border-box;
	vertical-align: middle;
	background-color: #ccc;
	text-align: center;
	height: cvt(142px);
	line-height: cvt(142px);
	font-size: cvt(48px);
	padding: 0 10px;
}
.btn-box{
	background-color: #fff;
	border: 1px solid #333;
}
.btn-full{
	width: 100%;
}
.btn-black{
	background-color: #000;
	color: #fff;
	&.disabled{
		color: #3d3d3d;
	}
}
.btn-brown{
	background-color: #be9f67;
	color: #fff;
	&.disabled{
		color: #cbb38a;
	}
}
.btn-red{
	background-color: #c7545d;
	color: #fff;
}

.fixbar{
	position: fixed;
	display: flex;
	left: 0;
	right: 0;
	z-index: 99;
}
.fixbar-top{
	top: 0;
}
.fixbar-bottom{
	bottom: 0;
	background-color: #fff;
}
